@use '../_variables' as *;
@use '../_mixins' as *;

.cloudinary-upload {
  display: flex;
  gap: $spacing-3;
  align-items: center;
  justify-content: flex-start;
  padding: $spacing-2 $spacing-3;

  &__input-wrapper {
    position: relative;
    width: 24px;
    height: 24px;
    cursor: pointer;
    border-radius: 100%;
    overflow: hidden;
  }

  &__input {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    cursor: pointer;
  }

  &__button {
    @include button-base();
    &.el-button.submit {
      margin-left: 0;
    }

    &:disabled {
      opacity: 0.6;
      cursor: not-allowed;
    }

    &.is-uploading {
      background-color: $primary-hover;
    }
  }
}
