.private-layout {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 100%;
  height: 100%;
  overflow-y: auto;
}

.conversation-detail {
  height: calc(100vh - 46px);
}
