#app {
  margin: 0 auto;
  text-align: center;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  width: 100%;
  height: 100%;
}

main {
  overflow: hidden;
  height: calc(100% - 46px);
  min-height: calc(100% - 46px);
}
