@use './_variables' as *;
@use './_mixins' as *;

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-bottom: $spacing-4;

  &__logo {
    font-size: 1.5rem;
    font-weight: 700;
    color: $purple-100;
    margin: 0;
  }

  &__right {
    display: flex;
    align-items: center;
    gap: $spacing-4;
    position: relative;

    ul {
      list-style: none;
      margin: 0;
      padding: 0;
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: $spacing-1;
      position: absolute;
      top: calc(100% + #{$spacing-2});
      right: 0;
      box-shadow: 0px 0px 12px rgba(0, 0, 0, 0.12);
      border-radius: 5px;
      padding: $spacing-2;

      li {
        cursor: pointer;
        font-weight: 500;
        color: $gray-700;
        font-size: $font-size-sm;

        &:hover {
          color: $purple-100;
        }
      }
    }
  }
}
