@use './_variables' as *;
@use './_mixins' as *;

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-bottom: $spacing-4;

  &__logo {
    font-size: 1.5rem;
    font-weight: 700;
    color: $purple-100;
    margin: 0;
  }
}
