@use './_variables' as *;
@use './_mixins' as *;

.private-layout {
  display: flex;
  flex-direction: column;
  height: 100vh;
  height: -webkit-fill-available;
  overflow: hidden;
  position: relative;

  &__content {
    flex: 1;
    overflow-y: auto;
    display: flex;
    flex-direction: column;
    -webkit-overflow-scrolling: touch;
  }
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 46px;
  padding: 0 $spacing-4;
  flex-shrink: 0;
  border-bottom: 1px solid $gray-200;
  background: $white;

  &__edit {
    width: 30px;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid $gray-300;
    border-radius: 100%;
    background: transparent;
  }

  &__logo {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0;
  }

  &__right {
    display: flex;
    align-items: center;
    gap: $spacing-3;
    position: relative;

    ul {
      z-index: 9;
      list-style: none;
      margin: 0;
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: $spacing-1;
      position: absolute;
      top: calc(100% + #{$spacing-2});
      right: 0;
      box-shadow: 0px 0px 12px rgba(0, 0, 0, 0.12);
      border-radius: 5px;
      padding: $spacing-2;
      background: $white;

      li {
        cursor: pointer;
        font-weight: 500;
        color: $gray-700;
        font-size: $font-size-sm;

        &:hover {
          color: $purple-100;
        }
      }
    }
  }
}

// Override Element Plus styles

.create-group-drawer {
  border-top-left-radius: 12px;
  border-top-right-radius: 12px;

  .el-drawer{
    &__header {
      margin-bottom: 0;
    }
  }
}
